body {
    background: #9edce7;
}

.navbar {
    background: #fff !important;
  }

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-brand {
    font-size: 2rem !important; 
}

.col-8 {
    background: #fff;
}

img {
    width: 200px;
    height: auto;
    float: left;
    margin: 10px;
  }

footer {
    border-top: 10px solid cyan;
    background: #fff;
}